.display__container {
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  padding: 0 30px 20px 30px;
  position: fixed;
  top: 50px;
  left: 380px;
  transform: translateX(-50%);
  background: rgb(209, 116, 40);
}

.input__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 0 10px;
  align-items: center;
}

.input__form {
  padding: 6px 10px;
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 0 0 2px black;
  margin: 20px 0;
}

.inputButtons__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  animation: fade-in 1s ease-in;
}

.input__display {
  text-align: center;
}

.input-hr {
  border-color: rgba(75, 74, 74, 0.445);
}

.input__button {
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px black;
  cursor: pointer;
  border-radius: 40px 5px 20px 5px;
}

.input__button--img {
  height: 40px;
  padding: 5px;
  position: relative;
  left: 13px;
  bottom: 4px;
}

.input__button--name {
  position: absolute;
  bottom: 23px;
  font-size: 15px;
  line-height: 0;
}

.input__submit {
  height: 38px;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 2px black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* selected button glow */
.selected-glow {
  animation: glow 0.5s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes glow {
  0% {
      background: green;
  }
  100% {
      background: rgba(7, 236, 102, 0.623);
  }
}