.todo__container {
  list-style: none;
  justify-self: center;
  height: min-content;
  width: 80%;
  border: 1px solid black;
  margin: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 4px black;
  background: rgb(209, 116, 40);

  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  animation: flash 0.9s ease-out;
}

.todo__container.blur {
  opacity: 0.6;
  pointer-events: none;
  animation: fade-to-blur 0.5s ease-in;
}

.todo__title {
  font-size: 20px;
  font-weight: bold;
  word-break: break-all;
  cursor: default;
  padding: 8px;
}

.todo-hr {
  border-color: rgba(75, 74, 74, 0.445);
}

.todoButton__container {
  display: flex;
}

.todo__button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 5px;
  --side: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  height: var(--side);
  width: var(--side);
  transition: all 0.5s;
}

.todo__button:hover {
  box-shadow: inset 0 0 3px black;
  background-color: rgba(0, 128, 0, 0.901);
}

.todo__button--complete {
  background-color: green;
}

.todo__button--delete:hover {
  background-color: rgba(255, 0, 0, 0.827);
}

.todo__button.todo__button--complete {
  background-color: rgba(0, 0, 0, 0.1);
}

.todo__button.todo__button--complete:hover {
  background-color: rgba(14, 230, 14, 0.479);
}

.todo__button > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}