.App {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(250, 128, 114, 0.705);
}

.MainDivision {
  width: 100%;
  text-align: center;
}

/* selected button glow */
.selected-glow {
  animation: glow 0.5s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes glow {
  0% {
      background: green;
  }
  100% {
      background: rgba(7, 236, 102, 0.623);
  }
}